.characterCard{
  text-align: center;
  background-color: red;
  max-width: 400px;
 
}
.center{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2{
  text-align: center;
  font-weight: bold;
  
}

p{
  text-align: center;
  font-weight: bold;
  padding: 1%;
  
}
.btn {
  text-align: center;
  margin: 3px;
  padding: 3px 3px;
  
}
.add{
 text-align: center;
  margin: 3px;
  padding: 3px 3px;
}
.delete{
  text-align: center;
  margin: 3px;
  padding: 3px 3px;
}
.color{
  text-align: center;
  margin: 3px;
  padding: 3px 3px;
}
.heading {
  text-align: center;
  margin: 3px;
  padding: 3px 3px;
  
}
.btn:hover{
  background-color: cyan;
}
.add:hover{
  background-color: cyan;
}
.delete:hover{
  background-color: cyan;
}
.color:hover{
  background-color: cyan;
}
.heading:hover{
  background-color: cyan;
}

@media only screen and (max-width: 500px){
  button{
    display: none;
    
  }
}
@media only screen and (max-width: 500px){
  .card{
    width: 25%;
    height: auto;
   
  }
  h2{
    font-size: 50px;
    
  }
  p{
    font-size: 50%;
  }
}